# Tenho que levar os dependencies para uma pasta de requirements
aienv/
# labelImg e label-studio
Annotatioon/annotation
13. Credit analysis/application_train.csv
16. Credit information learning/application_test.csv
16. Credit information learning/application_train.csv
16. Credit information learning/application_test.csv

